# Hola &#x1F600;,

Soy **Hesus Garcia** ‚Äì **"Soy el √∫nico Hesus que conoces (y probablemente conocer√°s) üåü"** ‚Äì S√≠, como "Jes√∫s", pero con una H que me hace √∫nico. Puede sonar raro, pero cr√©eme, ¬°no lo olvidar√°s! Como tu revisor en Triple-Ten, estoy aqu√≠ para guiarte y ayudarte a mejorar tu c√≥digo. Si algo necesita un ajuste, no hay de qu√© preocuparse; ¬°aqu√≠ estoy para hacer que tu trabajo brille con todo su potencial! ‚ú®

Cada vez que encuentre un detalle importante en tu c√≥digo, te lo se√±alar√© para que puedas corregirlo y as√≠ te prepares para un ambiente de trabajo real, donde el l√≠der de tu equipo actuar√≠a de manera similar. Si en alg√∫n momento no logras solucionar el problema, te dar√© m√°s detalles para ayudarte en nuestra pr√≥xima oportunidad de revisi√≥n.

Es importante que cuando encuentres un comentario, **no los muevas, no los modifiques, ni los borres**.

---

### Formato de Comentarios

Revisar√© cuidadosamente cada implementaci√≥n en tu notebook para asegurar que cumpla con los requisitos y te dar√© comentarios de acuerdo al siguiente formato:


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br>
    
<b>√âxito</b> - ¬°Excelente trabajo! Esta parte est√° bien implementada y contribuye significativamente al an√°lisis de datos o al proyecto. Contin√∫a aplicando estas buenas pr√°cticas en futuras secciones.
    
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br>
    
<b>Atenci√≥n</b> ‚ö†Ô∏è - Este c√≥digo est√° correcto, pero se puede optimizar. Considera implementar mejoras para que sea m√°s eficiente y f√°cil de leer. Esto fortalecer√° la calidad de tu proyecto.
    
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br>
    
<b>A resolver</b> ‚ùó - Aqu√≠ hay un problema o error en el c√≥digo que es necesario corregir para aprobar esta secci√≥n. Por favor, revisa y corrige este punto, ya que es fundamental para la validez del an√°lisis y la precisi√≥n de los resultados.
    
</div>

---

Al final de cada revisi√≥n, recibir√°s un **Comentario General del Revisor** que incluir√°:

- **Aspectos positivos:** Un resumen de los puntos fuertes de tu proyecto.
- **√Åreas de mejora:** Sugerencias sobre aspectos donde puedes mejorar.
- **Temas adicionales para investigar:** Ideas de temas opcionales que puedes explorar por tu cuenta para desarrollar a√∫n m√°s tus habilidades.

Estos temas adicionales no son obligatorios en esta etapa, pero pueden serte √∫tiles para profundizar en el futuro.

---


Esta estructura en vi√±etas facilita la lectura y comprensi√≥n de cada parte del comentario final.

Tambi√©n puedes responderme de la siguiente manera si tienes alguna duda o quieres aclarar algo espec√≠fico:


<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class="tocSkip"></a>
    
Aqu√≠ puedes escribir tu respuesta o pregunta sobre el comentario.
    
</div>


**¬°Empecemos!** &#x1F680;

## Objetivo del proyecto ##

El presente proyecto tiene como objetivo analizar y proponer los libros y editoriales que mayores ventas han tenido en un plazo determinado, para s√≠ promover aquellos m√°s propensos a que sean adquiridos por nuevos clientes y a su vez, pueda servir de base para que otros autores o escritores dediquen sus esfuerzos en la creaci√≥n de nuevas historias bas√°ndose en los gustos de los lectores, bas√°ndonos en rese√±as y calificaciones otorgadas por diversos usuarios.

La obtenci√≥n de estos datos los obtenderemos por medio de una base de datos descargada en l√≠nea utilizando el lenguaje SQL y exponiendo en cada paso del proyecto los resultados obtenidos.

In [1]:


# import libraries
import pandas as pd
from sqlalchemy import create_engine

db_config = {
 'user': 'practicum_student', # username
 'pwd': 'QnmDH8Sc2TQLvy2G3Vvh7', # password
 'host': 'yp-trainers-practicum.cluster-czs0gxyx2d8w.us-east-1.rds.amazonaws.com',
 'port': 5432, # connection port
 'db': 'data-analyst-final-project-db' # the name of the database
 }
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'], db_config['pwd'], db_config['host'], db_config['port'], db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})


<div class="alert alert-block alert-danger">

<b>Comentario del revisor</b> <a class="tocSkip"></a><br>

<b>A resolver</b> ‚ùó - Muy bien logrado el paso de conexi√≥n a la base de datos, se nota que comprendes c√≥mo usar `SQLAlchemy`. Sin embargo, es importante **no incluir datos sensibles como contrase√±as o usuarios directamente en el c√≥digo**.

Te recomiendo que uses **variables de entorno (`env`)** o archivos de configuraci√≥n (como `.env`) para proteger esta informaci√≥n. Esto no solo mejora la seguridad, sino que tambi√©n es una buena pr√°ctica profesional para proyectos colaborativos o de producci√≥n.

¬°Sigue as√≠! Este tipo de ajustes te har√° escribir c√≥digo m√°s seguro y reutilizable. üíªüîê

</div>

In [2]:
# Apartado solo para ver todas las tablas disponibles para su descarga de la fuente
query = ''' SELECT *
FROM information_schema.tables 
WHERE table_schema = 'public';'''

data_raw = pd.io.sql.read_sql(query, con = engine)

In [3]:
print(data_raw.head)

<bound method NDFrame.head of                    table_catalog table_schema          table_name  table_type  \
0  data-analyst-final-project-db       public             ratings  BASE TABLE
1  data-analyst-final-project-db       public  advertisment_costs  BASE TABLE
2  data-analyst-final-project-db       public             authors  BASE TABLE
3  data-analyst-final-project-db       public              orders  BASE TABLE
4  data-analyst-final-project-db       public             reviews  BASE TABLE
5  data-analyst-final-project-db       public              visits  BASE TABLE
6  data-analyst-final-project-db       public               books  BASE TABLE
7  data-analyst-final-project-db       public               users  BASE TABLE
8  data-analyst-final-project-db       public          publishers  BASE TABLE

  self_referencing_column_name reference_generation user_defined_type_catalog  \
0                         None                 None                      None
1                         None                 None                      None
2                         None                 None                      None
3                         None                 None                      None
4                         None                 None                      None
5                         None                 None                      None
6                         None                 None                      None
7                         None                 None                      None
8                         None                 None                      None

  user_defined_type_schema user_defined_type_name is_insertable_into is_typed  \
0                     None                   None                YES       NO
1                     None                   None                YES       NO
2                     None                   None                YES       NO
3                     None                   None                YES       NO
4                     None                   None                YES       NO
5                     None                   None                YES       NO
6                     None                   None                YES       NO
7                     None                   None                YES       NO
8                     None                   None                YES       NO

  commit_action
0          None
1          None
2          None
3          None
4          None
5          None
6          None
7          None
8          None  >

In [4]:
# Comprobaci√≥n de que se descargaron los archivos correctamente

query1 = ''' SELECT *
FROM books'''

books_df = pd.io.sql.read_sql(query1, con = engine)

query2 = ''' SELECT *
FROM authors'''

authors_df = pd.io.sql.read_sql(query2, con = engine)

query3 = ''' SELECT *
FROM publishers'''

publishers_df = pd.io.sql.read_sql(query3, con = engine)

query4 = ''' SELECT *
FROM ratings'''

ratings_df = pd.io.sql.read_sql(query4, con = engine)

query5 = ''' SELECT *
FROM reviews'''

reviews_df = pd.io.sql.read_sql(query5, con = engine)

print(books_df)
print(authors_df)
print(publishers_df)
print(ratings_df)
print(reviews_df)

     book_id  author_id                                              title  \
0          1        546                                       'Salem's Lot
1          2        465                 1 000 Places to See Before You Die
2          3        407  13 Little Blue Envelopes (Little Blue Envelope...
3          4         82  1491: New Revelations of the Americas Before C...
4          5        125                                               1776
..       ...        ...                                                ...
995      996        571           Wyrd Sisters (Discworld  #6; Witches #2)
996      997        454                        Xenocide (Ender's Saga  #3)
997      998        201                                    Year of Wonders
998      999         94                        You Suck (A Love Story  #2)
999     1000        509  Zen and the Art of Motorcycle Maintenance: An ...

     num_pages publication_date  publisher_id
0          594       2005-11-01            93
1          992       2003-05-22           336
2          322       2010-12-21           135
3          541       2006-10-10           309
4          386       2006-07-04           268
..         ...              ...           ...
995        265       2001-02-06           147
996        592       1996-07-15           297
997        358       2002-04-30           212
998        328       2007-01-16           331
999        540       2006-04-25           143

[1000 rows x 6 columns]
     author_id                                author
0            1                            A.S. Byatt
1            2        Aesop/Laura Harris/Laura Gibbs
2            3                       Agatha Christie
3            4                         Alan Brennert
4            5              Alan Moore/David   Lloyd
..         ...                                   ...
631        632         William Strunk Jr./E.B. White
632        633                           Zadie Smith
633        634                 Zilpha Keatley Snyder
634        635                    Zora Neale Hurston
635        636  √Ösne Seierstad/Ingrid Christopherson

[636 rows x 2 columns]
     publisher_id                          publisher
0               1                                Ace
1               2                           Ace Book
2               3                          Ace Books
3               4                      Ace Hardcover
4               5  Addison Wesley Publishing Company
..            ...                                ...
335           336         Workman Publishing Company
336           337                         Wyatt Book
337           338              Yale University Press
338           339                           Yearling
339           340                     Yearling Books

[340 rows x 2 columns]
      rating_id  book_id        username  rating
0             1        1      ryanfranco       4
1             2        1   grantpatricia       2
2             3        1    brandtandrea       5
3             4        2        lorichen       3
4             5        2     mariokeller       2
...         ...      ...             ...     ...
6451       6452     1000  carolrodriguez       4
6452       6453     1000         wendy18       4
6453       6454     1000      jarvispaul       5
6454       6455     1000           zross       2
6455       6456     1000         fharris       5

[6456 rows x 4 columns]
      review_id  book_id        username  \
0             1        1    brandtandrea
1             2        1      ryanfranco
2             3        2        lorichen
3             4        3   johnsonamanda
4             5        3     scotttamara
...         ...      ...             ...
2788       2789      999      martinadam
2789       2790     1000         wknight
2790       2791     1000  carolrodriguez
2791       2792     1000         wendy18
2792       2793     1000      jarvispaul

                                                   text
0     Mention society tell send professor analysis. ...
1     Foot glass pretty audience hit themselves. Amo...
2     Listen treat keep worry. Miss husband tax but ...
3     Finally month interesting blue could nature cu...
4     Nation purpose heavy give wait song will. List...
...                                                 ...
2788  Later hospital turn easy community. Fact same ...
2789   Change lose answer close pressure. Spend so now.
2790  Authority go who television entire hair guy po...
2791  Or western offer wonder ask. More hear phone f...
2792  Republican staff bit eat material measure plan...

[2793 rows x 4 columns]

### N√∫mero de libros publicados despu√©s del 1 de enero de 2000 ###

In [5]:
query = '''
SELECT 
    CAST(publication_date as date) as publication_date_converted,
    *
FROM
    books
'''

result = pd.io.sql.read_sql(query, con = engine)
print(result.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   publication_date_converted  1000 non-null   object
 1   book_id                     1000 non-null   int64
 2   author_id                   1000 non-null   int64
 3   title                       1000 non-null   object
 4   num_pages                   1000 non-null   int64
 5   publication_date            1000 non-null   object
 6   publisher_id                1000 non-null   int64
dtypes: int64(4), object(3)
memory usage: 54.8+ KB
None

In [6]:
query_count2 = '''SELECT
    MAX(CAST(publication_date AS date)) AS max_date,
    MIN(CAST(publication_date AS date)) AS min_date
    FROM
        books
'''

result_count2 = pd.io.sql.read_sql(query_count2, con = engine)
print(result_count2)

     max_date    min_date
0  2020-03-31  1952-12-01

In [7]:
query_count_ambos = '''
SELECT 
    COUNT(CASE WHEN CAST(publication_date as date) >= '2000-01-01' THEN 1 END) as libros_despues_2000,
    COUNT(CASE WHEN CAST(publication_date as date) < '2000-01-01' THEN 1 END) as libros_antes_2000
FROM
    books
'''

result_count_ambos = pd.io.sql.read_sql(query_count_ambos, con = engine)
print(result_count_ambos)

   libros_despues_2000  libros_antes_2000
0                  821                179

Vemos que la cantidad de libros publicados despu√©s del a√±o 2000 hasta el 31 de marzo de 2020 fue mucho mayor que antes del a√±o 2000, comprendiendo la base de datos desde el 1 de diciembre de 1952, a pesar de que es un plazo mucho menor. Esto puede deberse a que la tecnolog√≠a no era tan avanzada como para publicar libros tan seguido o tal vez no hab√≠a tantas editoriales que pudieran costear los costos de producci√≥n de los libros por ser la imprenta un m√©todo que no estaba tan avanzado ya a principios de los a√±o 2000.

### N√∫meros de rese√±as por usuario y calificaci√≥n promedio por libro ###

In [8]:
query_count_review = '''
SELECT 
    COUNT(review_id) as cnt
FROM
    reviews
'''

result_count_rese√±as = pd.io.sql.read_sql(query_count_review, con = engine)
print(result_count_rese√±as)

    cnt
0  2793

In [9]:
query_count_ratings_avg = '''
SELECT 
    ratings.book_id AS book_id, 
    books.title AS title,
    books.publication_date AS publication_date,
    authors.author,
    AVG(ratings.rating) as avg_rating
FROM
    books
INNER JOIN ratings ON ratings.book_id=books.book_id
INNER JOIN authors ON authors.author_id=books.author_id
GROUP BY
    ratings.book_id,
    books.title,
    books.publication_date,
    authors.author
ORDER BY
    avg_rating DESC,
    title ASC

'''

result_avg_rating = pd.io.sql.read_sql(query_count_ratings_avg, con = engine)
print(result_avg_rating.head())

   book_id                                  title publication_date  \
0       57        Act of Treason (Mitch Rapp  #9)       2006-10-10
1       17          A Dirty Job (Grim Reaper  #1)       2006-03-21
2       20  A Fistful of Charms (The Hollows  #4)       2006-06-27
3       62                          Alas  Babylon       2005-07-05
4       76                            Angels Fall       2006-07-11

              author  avg_rating
0        Vince Flynn         5.0
1  Christopher Moore         5.0
2       Kim Harrison         5.0
3          Pat Frank         5.0
4       Nora Roberts         5.0

Encontramos una cantidad de 2,793 rese√±as de usuarios, as√≠ como la calificaci√≥n promedio de cada libro, en la que una gran cantidad de libros de a√±os recientes obtuvieron una calificaci√≥n de 5 estrellas, la calificaci√≥n perfecta. Esto puede deberse a que es m√°s probable que los usuarios que que tienen acceso a dar calificaciones hayan le√≠do libros m√°s recientes que a los que son m√°s antiguos.

### Editorial con mayor cantidad de libros publicados de m√°s de 50 p√°ginas ###

In [10]:
query_top_publisher = '''
SELECT  
    publishers.publisher AS publisher,
    COUNT(publishers.publisher) as cnt
FROM
    books
INNER JOIN publishers ON publishers.publisher_id=books.publisher_id
WHERE 
    books.num_pages > 50
GROUP BY
    publisher
ORDER BY
    cnt DESC
'''

result_top_publisher = pd.io.sql.read_sql(query_top_publisher, con = engine)
print(result_top_publisher.head())

                  publisher  cnt
0             Penguin Books   42
1                   Vintage   31
2  Grand Central Publishing   25
3          Penguin Classics   24
4          Ballantine Books   19

La editorial 'Penguin Books' ha sido la editorial que m√°s libros arriba de 50 p√°ginas ha publicado, con 42 libros en total, seguido de la editorial 'Vintage' con 31 libros y en tercer lugar la editorial 'Grand Central Publishing' con 25 libros publicados.

### Identifica el autor con m√°s alta calificaci√≥n ###

In [11]:
query_top_author = '''
SELECT  
    authors.author AS author,
    AVG(ratings.rating) AS avg_rating
FROM
    books
INNER JOIN ratings ON ratings.book_id=books.book_id
INNER JOIN authors ON authors.author_id=books.author_id
GROUP BY
    author
HAVING
    COUNT(ratings.rating) > 50
ORDER BY
    avg_rating DESC
    
'''

result_top_author = pd.io.sql.read_sql(query_top_author, con = engine)
print(result_top_author.head())

                              author  avg_rating
0         J.K. Rowling/Mary GrandPr√©    4.288462
1                    Agatha Christie    4.283019
2  Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng    4.264151
3                     J.R.R. Tolkien    4.240964
4           Roald Dahl/Quentin Blake    4.209677

No es de extra√±ar que la autora de Harry Potter, J.K Rowling, sea la que mayor calificaci√≥n promedio le otorgaron los usuarios, ya que por algo es de los libros m√°s vendidos de todos los tiempos y con al menos m√°s de 50 calificaciones de los lectores.

### N√∫mero promedio de rese√±as de texto que calificaron m√°s de 50 libros ###

In [12]:
query_avg_reviews = '''
SELECT  
    reviews.username AS username,
    COUNT(books.book_id) AS count
FROM
    books
INNER JOIN reviews ON reviews.book_id=books.book_id
GROUP BY
    username
HAVING
    COUNT(reviews.text) > 50
'''

result_avg_reviews = pd.io.sql.read_sql(query_avg_reviews, con = engine)
print(result_avg_reviews)

Empty DataFrame
Columns: [username, count]
Index: []

Para este ejercicio, no se encontraron usuarios que hayan dejado rese√±as a m√°s de 50 libros, por lo que ser√≠a buena idea incentivar a los lectores a dejar rese√±as para as√≠ m√°s usuarios nuevos tengan informaci√≥n para comprar m√°s libros.

## Conclusi√≥n general ##

Al t√©rmino de las consultas en SQL para los libros, podemos aportar una sugerencia tanto para los nuevos autores como para que el equipo de marketing de cualquier tienda en l√≠nea pueda enfocar sus esfuerzos en promover ciertos libros con qu√© editorial.

La editorial con mayor cantidad de libros fue Penguin Books, la autora con mayor calificaci√≥n fue J.K Rowling, autora de Harry Potter, y podemos observar tambi√©n que los libros m√°s recientes fueron los que mayor cantidad de rese√±as y calificaciones obtuvieron, por lo que se sugiere no lanzar nuevamente libros que haya sido publicados hace mucho, o sea, no hacer reediciones ya que al p√∫blico actual no se ve muy interesado en leer libros con mucho tiempo de publicaci√≥n, as√≠ como enfocarse en temas de fantas√≠a y misterios, como lo vimos con los autores como J.K Rowling, Agatha Christie y J.R.R. Tolkien, quiens han sido los autores mejor calificados y los resultados vistos en el cine hablan por s√≠ mismos de sus libros. 

De igual manera, vimos que a√∫n falta seguir promoviendo el h√°bito de la lectura, ya que ning√∫n usuario ha escrito m√°s de 50 rese√±as. Esto igual podr√≠a deberse por la proliferaci√≥n de las redes sociales, el uso de streaming, los videojuegos, que otorgan un entretenimiento m√°s 'inmediato'. Esto puede resultar en que cada vez habr√° menos usuarios que escriban tantas rese√±as.



### # Comentario General del Revisor

<div class="alert alert-block alert-success">

<b>Comentario del revisor</b> <a class="tocSkip"></a>


Quiero felicitarte por el esfuerzo que pusiste en este trabajo. Lograste conectarte correctamente a la base de datos, ejecutar m√∫ltiples consultas SQL relevantes, y presentar conclusiones claras que responden al objetivo del proyecto: entender qu√© libros y editoriales tienen mejor recepci√≥n entre los lectores. ¬°Gran trabajo! üìö‚ú®

---

### ‚úÖ **Aspectos Positivos:**

* **Conexi√≥n a base de datos funcional**: Pudiste conectarte a PostgreSQL con SQLAlchemy y descargar todas las tablas correctamente.
* **Consultas SQL claras y bien estructuradas**: Usaste `JOIN`, `GROUP BY`, `HAVING`, y funciones agregadas de forma precisa para responder a las preguntas de negocio.
* **Enfoque estrat√©gico**: El an√°lisis muestra una buena comprensi√≥n del negocio editorial, considerando variables como n√∫mero de p√°ginas, calificaciones promedio y antig√ºedad del libro.
* **Conclusiones bien redactadas**: Interpretaste los resultados con criterio y l√≥gica, proponiendo ideas accionables para marketing y nuevos autores.

---

### ‚ö†Ô∏è **√Åreas de Mejora:**

* **Seguridad en el c√≥digo**: Recuerda **no incluir directamente usuarios y contrase√±as en el c√≥digo**. Es mejor usar variables de entorno o un archivo `.env`. Esto es una pr√°ctica est√°ndar en proyectos reales.
* **Conversi√≥n de fechas**: Aunque hiciste el casteo en SQL, tambi√©n podr√≠as trabajar las fechas con `pd.to_datetime()` para mayor flexibilidad en pandas.
* **An√°lisis estad√≠stico adicional**: Te animamos a sumar visualizaciones m√°s detalladas o m√©tricas de dispersi√≥n para enriquecer los insights (por ejemplo, correlaci√≥n entre p√°ginas y ratings).

---


Nos vemos en el pr√≥ximo proyecto.
‚Äî *Hesus Garc√≠a* ‚úåÔ∏èüòé

</div>